#page {
  color: black;
  padding: 0px;
  font: 10px/16px verdana; }
  #page h1 {
    color: black;
    font-size: 16px;
    margin: 0px 0px 20px; }
  #page h1.for_edit {
    margin-bottom: 10px; }
  #page h2 {
    color: #666666;
    font-size: 12px;
    font-weight: normal;
    margin: 0px; }
  #page h3 {
    color: black;
    margin-bottom: 10px; }
  #page h4 {
    margin: 0px;
    color: #666666;
    font-size: 12px;
    font-weight: bold; }
  #page h4.red {
    color: #993366; }
  #page h4.blue {
    color: #663399; }
  #page a {
    color: #775599;
    color: #660099;
    text-decoration: underline; }
  #page a.low {
    color: inherit;
    text-decoration: none; }
  #page a.low:hover,
  #page a:hover {
    color: #cc0000;
    text-decoration: underline; }
  #page b,
  #page strong {
    color: black;
    font-weight: bold; }
  #page i {
    color: #993366; }
  #page hr {
    border: none;
    border-top: 1px dotted #999999;
    margin: 0px 0px 10px; }
  #page p {
    margin: 0px 0px 10px 0px; }
  #page ul {
    margin: 0px 0px 10px 30px; }
    #page ul li {
      list-style-type: disc; }

#page .strip.undertabs {
  margin: 10px 0px;
  height: 26px; }
  #page .strip.undertabs h4 {
    float: right; }
#page .user_name {
  display: inline-block;
  width: 100px; }

#page .boolean_flag {
  display: inline-block;
  width: 40px;
  text-align: center;
  text-size: 10px;
  line-height: 10px;
  padding: 0px 0px 2px;
  text-transform: lowercase;
  font-variant: small-caps;
  color: #666666;
  background-color: #bbbbbb; }
#page .boolean_flag.yes_flag_hi {
  color: white;
  background-color: #224466; }
#page .boolean_flag.no_flag_strong,
#page .boolean_flag.yes_flag_strong {
  color: white;
  background-color: #442266; }
#page .boolean_flag.no_flag_alert,
#page .boolean_flag.yes_flag_alert {
  color: white;
  background-color: #662244; }

#page .flag {
  color: #666666;
  padding: 1px 0px 2px;
  font-size: 10px;
  line-height: 10px;
  background-color: transparent;
  background-color: #bbbbbb;
  margin: 0px 0px 0px 2px;
  font-variant: small-caps;
  width: 70px;
  display: inline-block;
  text-align: center; }
#page .flag.ready,
#page .flag.current {
  color: white;
  background-color: #226622; }
#page .flag.new {
  color: white;
  background-color: #442266; }
#page .flag.pending,
#page .flag.adjusted {
  color: white;
  background-color: #224466; }
#page .flag.active {
  color: white;
  background-color: #226622; }
#page .flag.disabled,
#page .flag.inactive {
  color: white;
  background-color: #990000; }
#page .flag.read_only {
  width: 300px;
  color: white;
  background-color: #442266; }
#page .flag.live_data {
  width: 300px;
  color: white;
  background-color: #990000; }

#page .role {
  color: #999999;
  width: 80px;
  padding: 1px 0px 2px;
  font-size: 10px;
  line-height: 10px;
  background-color: #cccccc;
  background-color: #bbbbbb;
  margin: 0px 0px 0px 1px;
  display: inline-block;
  text-align: center; }
#page .role.short {
  width: auto;
  padding: 1px 5px 2px; }
#page .role.act {
  color: white;
  background-color: #442266; }
#page .role.acc {
  color: white;
  background-color: #224466; }
#page .role.spc {
  color: white;
  background-color: #444444; }
#page .role.sys {
  color: white;
  background-color: #662244; }
#page .role.inactive {
  color: white;
  background-color: #990000; }

#page #banner {
  height: 20px;
  display: block; }
  #page #banner .banner_dialog {
    width: 400px;
    float: left;
    display: inline-block; }
    #page #banner .banner_dialog .banner_message {
      font-size: 10px;
      line-height: 12px; }
      #page #banner .banner_dialog .banner_message b {
        font-weight: normal; }
      #page #banner .banner_dialog .banner_message .success {
        color: #006600; }
      #page #banner .banner_dialog .banner_message .failure {
        color: white;
        padding: 1px 10px;
        background-color: #990000; }
  #page #banner .banner_class_msg {
    display: inline-block;
    text-align: right;
    float: right;
    width: 400px; }
  #page #banner .banner_flags {
    float: right;
    text-align: right;
    display: inline-block; }

#page #user_bar {
  color: black;
  margin: 0px 0px 10px;
  border-bottom: 1px solid black; }
