#page .tabs {
  margin: 0px 0px 5px;
  border: 5px solid white;
  border-top: none;
  border-color: white white black; }
  #page .tabs a {
    color: black;
    padding: 2px 5px 0px;
    text-decoration: none;
    display: inline-block; }
  #page .tabs a.here,
  #page .tabs a:hover,
  #page .tabs a.here:hover {
    color: white;
    background-color: black; }
#page .tabs.small {
  margin: 2px 0px;
  display: inline-block;
  width: auto;
  border: 5px solid white;
  border-color: white white #666666;
  border-top: none;
  padding: 0px 20px 0px 0px; }
  #page .tabs.small a {
    color: #666666;
    padding: 1px 5px 0px;
    text-decoration: none;
    display: inline-block; }
  #page .tabs.small a.here,
  #page .tabs.small a:hover,
  #page .tabs.small a.here:hover {
    color: white;
    background-color: #666666; }
#page .tabs.smaller {
  margin: 2px 0px;
  display: inline-block;
  width: auto;
  border: 3px solid white;
  border-color: white white #999999;
  border-top: none;
  padding: 0px 10px 0px 0px; }
  #page .tabs.smaller a {
    color: #999999;
    padding: 1px 5px 0px;
    text-decoration: none;
    display: inline-block; }
  #page .tabs.smaller a.here,
  #page .tabs.smaller a:hover,
  #page .tabs.smaller a.here:hover {
    color: white;
    background-color: #999999; }
