#page .buttons {
  text-align: right; }
  #page .buttons a {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    background-color: #cccccc;
    padding: 5px 10px;
    text-decoration: none;
    color: #333333;
    font-size: 14px;
    line-height: 14px; }
  #page .buttons a:hover {
    color: white;
    border-color: black;
    background-color: #666666; }

#page .buttons a.small {
  padding: 2px 5px;
  font-size: 10px;
  line-height: 10px; }
#page .buttons.small a {
  padding: 2px 5px;
  font-size: 10px;
  line-height: 10px; }
#page .undertabs .buttons {
  margin-top: 2px; }
#page .buttons.top {
  height: 24px;
  margin: 10px 0px 0px; }
#page .buttons.bot {
  margin: 10px 0px 0px;
  padding: 10px 0px 0px; }
#page .buttons.fright {
  display: inline-block;
  float: right; }

#page .buttons a.form_submit {
  color: black;
  background-color: #999999;
  border-color: #666666; }
#page .buttons a.form_cancel {
  color: #999999;
  border-color: #cccccc;
  background-color: transparent; }
#page .buttons a.edit:hover {
  color: white;
  border-color: black;
  background-color: #003366; }
#page .buttons a.disable:hover {
  color: white;
  border-color: black;
  background-color: #990000; }
#page .buttons a.release:hover {
  color: white;
  border-color: black;
  background-color: #330066; }
#page .buttons a.new:hover,
#page .buttons a.enable:hover,
#page .buttons a.form_submit:hover {
  color: white;
  border-color: black;
  background-color: #006600; }
#page .buttons a.form_cancel:hover {
  color: white;
  border-color: black;
  background-color: #990000; }
