#page select,
#page textarea,
#page input[type="text"],
#page input[type="email"],
#page input[type="password"] {
  padding: 2px 5px;
  font: 12px/12px monospace;
  background-color: #dddddd;
  border: none;
  border-bottom: 1px solid #999999; }
#page input[type="text"] {
  width: 500px; }
#page input.tiny {
  width: 100px; }
#page input.short {
  width: 300px; }
#page input.long {
  width: 700px; }
#page textarea {
  width: 500px;
  padding: 5px;
  line-height: 20px; }
#page textarea.wide {
  width: 100%;
  border-color: #cccccc;
  background-color: #eeeeee; }
#page select {
  padding: 2px 5px 1px;
  width: 508px; }
#page .auto select,
#page select.auto {
  width: auto; }
#page .textarea_wrapper {
  width: 955px; }
  #page .textarea_wrapper textarea {
    padding: 0px; }
#page .ckeditor_wrapper {
  width: 967px;
  margin-bottom: 10px; }
#page .live_data {
  color: #993366;
  font-variant: small-caps; }
#page .input_msg {
  color: #999999; }
  #page .input_msg b {
    font-weight: normal;
    color: #999999; }
#page .input_msg.info {
  color: #666666; }
#page select.required,
#page input.required,
#page textarea.required {
  color: #660033;
  background-color: #cfc0c9; }
#page .input_msg.required {
  color: #993366; }
#page select.necessary,
#page input.necessary,
#page textarea.necessary {
  color: #330066;
  background-color: #c9c0cf; }
#page .input_msg.necessary {
  color: #663399; }
#page .field_with_errors {
  display: inline; }
  #page .field_with_errors input.required,
  #page .field_with_errors inpue.necessary,
  #page .field_with_errors input[type="text"] {
    color: white;
    background-color: #660033; }

#page .content_block.for_line_items {
  border-width: 1px 5px;
  border-color: #999999 #666666;
  background-color: #eeeeee; }
  #page .content_block.for_line_items .fields {
    margin: 0px 0px 5px; }
    #page .content_block.for_line_items .fields table {
      width: 99%;
      margin: 5px;
      border: 1px solid #bbbbbb;
      border-top: 2px solid #666666;
      background-color: white; }
    #page .content_block.for_line_items .fields label {
      width: 100px;
      text-align: right;
      display: inline-block; }
  #page .content_block.for_line_items a.add_nested_fields {
    font-size: 10px;
    line-height: 12px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    background-color: #cccccc;
    padding: 2px 5px;
    text-decoration: none;
    display: inline-block;
    color: black;
    margin: 10px 0px 0px 5px; }
  #page .content_block.for_line_items a.add_nested_fields:hover {
    color: white;
    border-color: black;
    background-color: #666666; }

#page .content_block.for_ckeditor {
  border: none;
  padding: 0px; }
