
- item = f.object || @object

- if item && item.respond_to?(:editorial_comment)

  .block.low
    .title= 'Optional comment about this edit:'
    .inside
      .textarea_wrapper= f.text_area :editorial_comment, :rows=>1, :class=>'wide'
