
- item        ||= @object
- class_name  ||= item.class.name.titleize

- if item.errors.any?
  .block.errors
    .title= "#{pluralize(item.errors.count,'error')} prohibited this #{class_name} from being saved!"
    .content
      %ul
        - item.errors.full_messages.each do |msg|
          %li= msg
