#page table {
  width: 100%; }
  #page table th,
  #page table td {
    padding: 2px 5px; }
  #page table th,
  #page table td.label {
    background-color: #999999; }
  #page table th {
    vertical-align: bottom; }
  #page table th.key {
    background-color: #888888; }
  #page table td {
    vertical-align: top; }
  #page table td.label {
    width: 160px;
    text-align: right;
    font-weight: bold; }
  #page table td.data.title {
    border: none;
    background-color: transparent; }
  #page table th {
    text-align: left; }
    #page table th .uarr,
    #page table th .darr {
      color: #66ff00;
      font-weight: bold; }
    #page table th a {
      color: inherit; }
  #page table th.aright {
    text-align: right; }

#page table.first {
  border-bottom: 1px dotted #aaaaaa; }

#page .no_items_found {
  display: block;
  text-align: center; }

#page table.list td.key {
  border-right: 1px solid white;
  background-color: #999999; }
#page table.list tr.even td {
  background-color: #dddddd; }
#page table.list tr.even td.key {
  background-color: #aaaaaa; }
#page table.list th.id,
#page table.list td.id {
  width: 60px; }
#page table.list th.status,
#page table.list td.status {
  width: 80px;
  text-align: center; }
#page table.list th.actions,
#page table.list td.actions {
  width: 100px;
  text-align: right; }
#page table.list th.code,
#page table.list td.code {
  width: 120px; }
#page table.list th.price,
#page table.list td.price {
  width: 80px; }
