#page .block .title {
  color: white;
  border-bottom: 1px solid white; }
  #page .block .title .tag {
    font-variant: small-caps;
    text-transform: lowercase;
    float: right;
    color: #999999; }
#page .block .content {
  border-bottom: 1px solid white; }
#page .block .inside table {
  border-bottom: 1px solid white; }
  #page .block .inside table th {
    border-bottom: 1px solid white; }
  #page .block .inside table th.key,
  #page .block .inside table td.key,
  #page .block .inside table td.label {
    border-right: 1px solid white; }

#page .block .title {
  padding: 2px 5px;
  background-color: #666666; }
#page .block .title.clickable {
  color: white;
  cursor: pointer; }
#page .block .title.clickable:hover {
  color: yellow; }
  #page .block .title.clickable:hover .tag {
    color: yellow; }
#page .block .title.clickable:before {
  content: "\2193 \2191  "; }
#page .block .inside,
#page .block .content {
  background-color: #cccccc; }
#page .block .content {
  padding: 10px; }
#page .block.low .title {
  color: black;
  background-color: #cccccc; }

#page .block.filters .title {
  background-color: #666666; }
  #page .block.filters .title .tag:before {
    content: "[SEARCH] \2191 \2193"; }
#page .block.filters .inside,
#page .block.filters .content {
  color: #666666;
  background-color: #cccccc; }
  #page .block.filters .inside table,
  #page .block.filters .content table {
    margin: 0px; }
    #page .block.filters .inside table input[type="text"],
    #page .block.filters .content table input[type="text"] {
      background-color: #dddddd;
      width: 200px; }
    #page .block.filters .inside table select,
    #page .block.filters .content table select {
      padding: 1px 1px 1px 5px;
      background-color: #dddddd;
      width: auto; }
    #page .block.filters .inside table td.right,
    #page .block.filters .content table td.right {
      width: 80px;
      color: black;
      border-left: 1px solid white;
      background-color: #999999;
      text-align: right; }
      #page .block.filters .inside table td.right a.dark,
      #page .block.filters .content table td.right a.dark {
        color: #666666;
        margin-right: 10px; }
      #page .block.filters .inside table td.right a:hover,
      #page .block.filters .content table td.right a:hover {
        color: #cc0000; }
    #page .block.filters .inside table td.first,
    #page .block.filters .content table td.first {
      padding-top: 10px; }
    #page .block.filters .inside table td.last,
    #page .block.filters .content table td.last {
      padding-bottom: 10px; }
#page .block.errors .title,
#page .block.necessities .title {
  color: white;
  background-color: #662244; }
#page .block.errors .inside,
#page .block.errors .content,
#page .block.necessities .inside,
#page .block.necessities .content {
  color: #660033;
  background-color: #bb7799; }
#page .block.necessities .title .tag:before {
  content: "[NOTE] \2191 \2193"; }
#page .block.help .title {
  color: white;
  background-color: #446688; }
  #page .block.help .title .tag:before {
    content: "[HELP] \2191 \2193"; }
#page .block.help .inside,
#page .block.help .content {
  color: #003366;
  background-color: #7799bb; }
