
- item ||= @object

- if item.respond_to?(:necessities)
  
  - arr = item.necessities
  - if arr && arr.size>0
    - @no_publish = true
    
    .necessities
      %h5.clickable{:onclick=>"flipElement('not_ready');"}= 'Not ready to be published yet!'
      #not_ready.noshow
        .content_block
          %p= 'Missing components:'
          %ul
            - arr.each do |a|
              %li= safe a
